<div class="modal fade"
     id="exampleModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen-md-down">
    <div class="modal-content">
      <div class="modal-header headModal">
        <p class="modal-title" id="exampleModalLabel">
          <img src="https://github.com/javierhernandezmartinez/pokedex/blob/master/src/assets/images/img3.png?raw=true" class="img_pokebola"/>
          Pokemon
        </p>
        <img src="assets/images/pikachu.png" class="pichachu"/>
        <button type="button" class="btn-close closeModal" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body bodyModal">
        <div class="row">

          <div class="col-12 col-sm-12 col-md-4">
            <div class="row row_img">
              <div class="col-sm-12 col-md-12 col_id">
                <img src="https://github.com/javierhernandezmartinez/pokedex/blob/master/src/assets/images/img3.png?raw=true"/>
                <p class="p_id">#{{pokemon.id}}</p>
              </div>
              <div class="col-sm-12 col-md-12 col_img">
                <div>
                  <img [src]="pokemon.img" class="img_p"/>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col_nom">
                <p class="nom_p">{{pokemon.name}}</p>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-8">
            <div class="row">
              <div class="col-md-12 col_descrip">
                <p class="p_descrip">
                  {{pokemon.descripcion}}
                </p>
                <mat-card class="card_tipo">
                  <mat-card-title></mat-card-title>
                  <mat-card-content>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-12">
                            <p class="sub_title">Tipo</p>
                          </div>
                          <div class="col-6 col-md-12" *ngFor="let type of pokemon?.pokemon?.types;">
                            <p class="p_tipo">
                              {{type.type.name}}
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-12">
                            <p class="sub_title">Habilidad</p>
                          </div>
                          <div class="col-6 col-md-12" *ngFor="let hab of pokemon?.pokemon?.abilities;">
                            <p class="p_tipo">{{hab.ability?.name}}</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-12">
                            <p class="sub_title">Habitat</p>
                          </div>
                          <div class="col-md-12">
                            <p class="p_tipo">{{pokemon?.species?.habitat?.name}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>

                <mat-card class="card_tipo">
                  <mat-card-title></mat-card-title>
                  <mat-card-content>
                    <div class="row" style="justify-content: space-between">
                      <div class="col-6 col-md-4">
                        <p class="title_dato">Altura</p>
                        <p class="p_tipo">{{pokemon?.pokemon?.height * 10 / 100}} m</p>
                      </div>
                      <div class="col-6 col-md-4">
                        <p class="title_dato">Peso</p>
                        <p class="p_tipo">{{pokemon?.pokemon?.weight * 100 / 1000}} kg</p>
                      </div>
                      <div class="col-12 col-md-4">
                        <div class="row">
                          <div class="col-md-12">
                            <p class="title_dato">Grupo</p>
                          </div>
                          <div class="col-6 col-md-12" *ngFor="let type of pokemon?.species?.egg_groups;">
                            <p class="p_tipo">
                              {{type.name}}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer footerModal">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
