.contenedor{
  width: 100vw;
  height: 100vh;
  background: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: url("src/assets/images/cursor_flecha.png"), auto;
}
.text_pokemon{
  width: 17vw;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}


@media (max-width: 576px){
  .text_pokemon {
    display: none !important;
  }
}
@media (max-width: 768px){
  .text_pokemon {
    width: 100px;
  }
}
@media (max-width: 992px){

}

