@import "~bootstrap-icons/font/bootstrap-icons.css";

.row_panel{
  width: 66vw;
  height: auto;
  max-height: 98vh;
  margin: auto;
  background: white;
  cursor: url("../../assets/images/cursor_flecha.png"), auto;
  border-radius: 8px;
}
.col_tabs{

}
.perfil_img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 5px;
  cursor: url("../../assets/images/cursor_mano.png"), auto;
}
.perfil_img:hover{
  transform: scale(1.1);
  transition-duration: 200ms;
}
.pokebola_img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.title{
  font-size: 20pt;
  font-weight: bold;
  color: yellow;
  text-shadow: 2px 2px 2px blue;
}
.row_head{
  background: darkred;
}

.row_container{
  height: auto;
  min-height: 30vh;
  max-height: 85vh;
  background: lightgreen;
  padding: 2%;
  overflow: auto;
  overflow-x: hidden;
}
.row_container::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

.row_container::-webkit-scrollbar-track {
  background: limegreen;        /* color of the tracking area */
}

.row_container::-webkit-scrollbar-thumb {
  background-color: forestgreen;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid forestgreen;  /* creates padding around scroll thumb */
}
.panel_left{
  width: 100%;
  height: 70vh;
  /*min-height: 100%;*/
  border-radius: 8px;
  border: 1px solid green;
  overflow: auto;
  padding: 4%;
  overflow-x: hidden;
}
.panel_rigt{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid green;
  background: green;
}

.panel_left::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

.panel_left::-webkit-scrollbar-track {
  background: limegreen;        /* color of the tracking area */
}

.panel_left::-webkit-scrollbar-thumb {
  background-color: forestgreen;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid forestgreen;  /* creates padding around scroll thumb */
}


/*Grid list */
:host ::ng-deep {
  .mat-grid-tile {
    width: 100%;
    height: auto !important;
    background: transparent;
    cursor: url("../../assets/images/cursor_mano.png"), auto;
  }
  .mat-grid-tile:hover{
    transform: scale(1.2);
    transition-duration: 200ms;
    z-index: 1;
  }

  .card_target{
    background: palegreen;
    width: 98%;
    height: 100%;
    max-height: 100px;
    border-radius: 8px;
    padding: 2%;
    text-align: center;
    margin-bottom: 1%;
    cursor: url("../../assets/images/cursor_mano.png"), auto;
    box-shadow: 2px 2px 3px grey;

    .id_poke_l{
      font-size: 8pt;
      font-weight: 600;
      color: green;
    }
    .name_poke_l{
      font-size: 10pt;
      font-weight: bold;
      color: green;
    }
    .type_poke_l{
      font-size: 10pt;
      font-weight: 600;
      color: green;
    }
  }
  .card_target:hover{
    transform: scale(1.1);
    transition-duration: 300ms;
    background: darkgreen;
    .name_poke_l{
      color: yellow;
      text-shadow: 0px 0px 6px blue;
    }
    .id_poke_l{
      color: white;
      text-shadow: 0px 0px 2px yellow;
    }
    .type_poke_l{
      color: white;
    }
  }
  .img_car_target{
   display: flex;
    img{
      width: 50px;
      height: 50px;
      margin: auto;
    }
  }
  .name_poke_l{
    font-size: 12pt;
  }
}

.col_search{
  padding: 3%;

  input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 4%;
    border: solid 1px green;
    background: #c0ffc0;
    color: green;
    font-weight: 600;
  }
  .arrow_left{
    text-align: start;
    font-size: 18pt;
  }
  .arrow_rigth{
    text-align: right;
    font-size: 18pt;
  }

}

.img_poke_selected{
  width: 100%;
  height: 200px;
  margin: auto;
  object-fit: scale-down;
  display: block;
}
.quepokeom{
  width: 90%;
 /* height: 114px;*/
  height: 150px;
  background-image: url("../../assets/images/quepokemon.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ff1600;
  background-blend-mode: hard-light;
  background-position: center;
  margin: auto;
  margin-top: 3%;
  border-radius: 8px;

  div{
    width: 50%;
    height: inherit;

    img{
      width: auto;
      height: inherit;
      max-width: 100%;
      filter: grayscale(1) contrast(4) brightness(0);
    }
  }
}

//paginador
:host ::ng-deep {
  .mat-paginator-page-size {
    display: none;
    align-items: baseline;
    margin-right: 8px;
  }
  .mat-paginator-range-label {
    margin: 5px;
    font-weight: 500;
    font-size: 11pt;
    color: green;
  }
  .mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
    margin-left: 6px;
  }
  .mat-icon-button:hover{
    cursor: url("../../assets/images/cursor_mano.png"), auto;
  }
}

.p_p_img{
  width: 90%;
  background: palegreen;
  padding: 2%;
  border-radius: 8px;
  margin: auto;
  margin-top: 3%;
}
.poke_descrip{
  padding: 5%;
  p{
    width: 100%;
    height: 100px;
    background: palegreen;
    margin: 0;
    border-radius: 5px;
    overflow: auto;
    padding: 5px;
    color: green;
  }
  p::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }

  p::-webkit-scrollbar-track {
    background: limegreen;        /* color of the tracking area */
  }

  p::-webkit-scrollbar-thumb {
    background-color: forestgreen;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid forestgreen;  /* creates padding around scroll thumb */
  }
}
.poke_details{
  .pokebola_img_d{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
  }
  .poke_id{
    width: 90%;
    font-size: 10pt;
    font-weight: 600;
    color: white;
    text-align: center;
    margin: auto;
  }
  .poke_nom{
    width: 90%;
    height: 50px;
    font-size: 18pt;
    font-weight: 600;
    color: yellow;
    text-align: center;
    text-shadow: 2px 2px 5px blue;
    background: darkgreen;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .poke_type{
    width: 90%;
    font-size: 12pt;
    font-weight: 600;
    margin: auto;
    color: yellow;

  }
}

.button_open_modal{
  background: darkgreen;
  color: white;
  width: 90%;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}
.button_open_modal:hover{
  color: yellow;
  border: 1px solid lightgreen;
  text-shadow: 2px 2px 2px blue;
  cursor: url("../../assets/images/cursor_mano.png"), auto;
}

@media (max-width: 576px){//col
  .text_pokemon {
    display: none !important;
  }
  .row_panel{
    width: 100vw;
    height: auto;
    max-height: 100vh;
  }
  .panel_rigt{
    display: none;
  }
  .card_target:hover{
    transform: scale(1.04);
  }
}
@media (max-width: 768px){//sm
  .panel_rigt{
    display: none;
  }
}
@media (max-width: 1250px){//md

}
@media (min-width: 1250px){//md

}
